<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arquivo Raiz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
       <div class="col-8 m-alto pt-2 pb-2 text-center">
            <h1>Estou em Arquivo Raiz</h1>
       </div>
       <div class="col-8 m-alto pt-3 pb-2 text-center">
            <a href="/formulario" class="btn btn-success">Adcionar</a>
       </div>
       <div class="col-8 m-alto pt-4 pb-2 text-center">
        
            <table class="table">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for dbs in db %}
                <tr>
                    <th>{{dbs.id}}</th>
                    <td>{{dbs.nome}}</td>
                    <td>{{dbs.email}}</td>
                    <td>{{dbs.celular}}</td>
                    <td>{{dbs.telefone_fixo}}</td>
                    <td>  
                        <a href="/view/{{dbs.id}}/" class=" btn btn-dark "> Visualizar </a>
                        <a href="/edit/{{dbs.id}}/" class=" btn btn-primary "> Editar </a>
                        <a href="/update/{{dbs.id}}/" class=" btn btn-danger "> Deletar </a>
                    </td>
                </tr>
                {% endfor %}
                    
                </tbody>
            </table>
       </div>
      
    </body>
</html>